@import url(https://fonts.googleapis.com/css?family=Cabin:400);
@import url(https://fonts.googleapis.com/css2?family=Poppins&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

body{
  background: #ffffff;
  font-family: Roboto, veranda;
  margin: 0;
}
ul{
  padding: 0;
  margin: 0;
}
.page{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blog{
  position: relative;
  width: 30em;
  height: 30em;
  background-size: 22em 30em;
  box-shadow: 3px 3px 20px rgba(0,0,0,0.5);
  margin: auto;
  overflow: hidden;
}
.blog *{
  position: relative;
  z-index: 2;
}
.blog, .color-overlay{
   border-radius: 0.7em;
}
.color__overlay{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  transition: 0.7s background;
  background: rgba(74, 100, 114, 0.3);
  z-index: 1;
}
.page__transition__previous{
  position: absolute;
  z-index: 2;
  bottom: 20px;
  left: 10px;
  text-align: center;
  align-items: center;
}
.page__transition__next{
  position: absolute;
  z-index: 2;
  bottom: 20px;
  right: 10px;
}
.transition__a{
  color: white;
  background: #1c9bc5;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  padding: 15px;
}
/*1.html start*/
.page__app{
  font-family: 'Courier New', 'Courier', sans-serif;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top right, #4333d5, #41d4da);
}
.challenge__page__1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.days{
  position: relative;
  z-index: 20;
  display: block;
  font-size: 82px;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 6px;
}
.challenge{
  position: relative;
  z-index: 20;
  display: block; 
  font-size: 23px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .04em;
}
.number{
  position: relative;
  height: 100px;
  width: 200px;
  
}
.one{
  position: absolute;
  z-index: 3;
  left: -7px;
  box-sizing: border-box;
  height: 100px;
  width: 20px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 10px 1px #5e5b5b;
}
.one__one{
position: absolute;
box-sizing: border-box;
z-index: 2;
top: 7px;
left: -30px;
height: 20px;
width: 40px;
background: #fff;
border-radius: 3px;
box-shadow: 1px 1px 10px 1px #5e5b5b;
transform: rotate(150deg);
}
.zero__1,
.zero{
  position: absolute;
  z-index: 2;
  top: 0;
  box-sizing: border-box;
  height: 100px;
  width: 100px;
  border: 20px solid #fff;
  border-radius: 200px;
  box-shadow: 1px 1px 10px 1px #5e5b5b;
}
.zero__1{
  z-index: 1;
  left: 90px;
}

/*1.html end*/

/*2.html start*/
.page__app__1{
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #3FAF82;
}
.hamburger{
  position: relative;
        background: transparent;
        font-size: 1.25rem;
        line-height: 1;
        padding: .25rem .75rem;
        cursor: pointer;
}
.hamburger__animation{
  display: block;
  position: relative;
  width: 80px;
  height: 52px;
  margin: auto;
  display: flex;
  align-items:center;
}
.hamburger__animation span{
  position: absolute;
  display: block;
  width: 100%;
  height: 8px;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 30px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
}
.first{
top: 0;
left: 0;
transform: rotate(0);
transition: transform 500ms, top 500ms 500ms;
}
.second {
  opacity:1;
  transition:opacity 500ms 300ms;
}
.third{
bottom: 0;
left: 0;
transform: rotate(0);
transition: transform 500ms, bottom 500ms 500ms;
}
.hamburger:hover{
  .first{
    top: 21px;
    transition: top 500ms, transform 500ms 500ms;
    transform: rotate(-45deg);
  }
  .second{
    opacity: 0;
    transition:opacity 500ms 0s;
  }
  .third{
    bottom: 21px;
    transition: bottom 500ms , transform 500ms 500ms;
    transform: rotate(45deg);
  }
}
/*2.html end*/







/*1.html start*/
.section__page__app{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: black;
}
.section__page__app__1{
  background: #151515;
  padding: 20px;
  border-radius: 10px;
}
.section__page__app__1:before {
	background: #444;
	background: linear-gradient(to left, #151515, #444, #151515);
}

.section__page__app__1:after {
	background: #000;
	background: linear-gradient(to left, #151515, #000, #151515);
}
.section__page__app__1 input {
	background: #222;
	background: linear-gradient(#333, #222);
	border: 1px solid #444;
	border-radius: 5px 0 0 5px;
	box-shadow: 0 2px 0 #000;
	color: #888;
	display: block;
	float: left;
	font-family: 'Cabin', helvetica, arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	height: 40px;
	margin: 0;
	padding: 0 10px;
	text-shadow: 0 -1px 0 #000;
	width: 200px;
  line-height: 40px;
}
.section__page__app__1 input:focus {
	animation: glow 800ms ease-out infinite alternate;
	background: #222922;
	background: linear-gradient(#333933, #222922);
	border-color: #393;
	box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
	color: #efe;
	outline: none;
}
.section__page__app__1 button {
	background: #222;
	background: linear-gradient(#333, #222);
	box-sizing: border-box;
	border: 1px solid #444;
	border-left-color: #000;
	border-radius: 0 5px 5px 0;
	box-shadow: 0 2px 0 #000;
	color: #fff;
	display: block;
	float: left;
	font-family: 'Cabin', helvetica, arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	height: 40px;
	line-height: 40px;
	margin: 0;
	padding: 0;
	position: relative;
	text-shadow: 0 -1px 0 #000;
	width: 80px;
}
.section__page__app__1 button:hover,
.section__page__app__1 button:focus {
	background: #292929;
	background: linear-gradient(#393939, #292929);
	color: #5f5;
	outline: none;
}

.section__page__app__1 button:active {
	background: #292929;
	background: linear-gradient(#393939, #292929);
	box-shadow: 0 1px 0 #000, inset 1px 0 1px #222;
	top: 1px;
}
@keyframes glow {
  0% {
  border-color: #393;
  box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
  }
  100% {
  border-color: #6f6;
  box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 #000;
  }
}
/*1.html end*/
/*2.html start*/
.page__app__1__1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(315deg, #8f3636, #d7e1ec)
}
.page__app__2{
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.icon {
  display: flex;
  justify-content: center;
 background: #ffffff;
 border-radius: 50%;
 width: 50px;
 height: 50px;
 align-items: center;
 text-align: center;
}
.facebook:hover,
.facebook:focus {
	background: #1363b9;
  color: white;
}
.instagram:hover,
.instagram:focus{
  background: #e1306c;
  color: white;
}
.twitter:hover,
.twitter:focus{
  background: #31afe4;
  color: white;
}
.github:hover,
.github:focus{
  background: #251d20;
  color: white;
}
.youtube:hover,
.youtube:focus{
  background: #d71d1d;
  color: white;
}
.tooltip{
  position: absolute;
top: 0;
font-size: 14px;
background: #fff;
color: #ffffff;
padding: 5px 8px;
box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
opacity: 0;
pointer-events: none;
border-radius: 4px;
}
.tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
   }
.icon:hover .tooltip {
top: -45px;
opacity: 1;
visibility: visible;
pointer-events: auto;
}
.facebook:hover,
.facebook:hover .tooltip,
.facebook:hover .tooltip::before {
background: #1363b9;
color: white;
}
.instagram:hover,
.instagram:hover .tooltip,
.instagram:hover .tooltip::before {
background: #e1306c;
color: white;
}
.youtube:hover,
.youtube:hover .tooltip,
.youtube:hover .tooltip::before {
background: #e92828;
color: white;
}
.twitter:hover,
.twitter:hover .tooltip,
.twitter:hover .tooltip::before {
background: #31afe4;
color: white;
}
.github:hover,
.github:hover .tooltip,
.github:hover .tooltip::before {
background: #251d20;
color: white;
}
/*2.html end*/
/*3.html start*/
.page__app__1__3{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(315deg, #e2ecd5, #bbe069)
}
.hList > li{
  list-style: none;
  text-decoration: none;
  list-style-type: none;
  float: left;
}
.menu{
  position: relative;
  text-decoration: none;
}
.menu__dropdown{
  position: absolute;
  display: none;
  background: silver;
  color:black;
  text-decoration: none;
  list-style: none;
  text-align: center;
}
.menu:hover .menu__dropdown{
  display: block;
  width: 150px;
  height: 100px;
  top: 0;
}
.menu__title{
  display: block;
  color: white;
  width: 150px;
  height: 40px;
  padding: 12px 0 0;
  background: #9dc852;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.3s background-color;
}
.menu__title:before{
  content: "";
  display: block;
  height: 0;
  border-top: 5px solid #9dc852;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  border-bottom: 0 solid #dddddd;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 101;
  transition: 0.2s 0.2s border-top ease-out, 0.3s border-top-color;

}
.menu__title__2nd{
  background: #4e96b3;
}
.menu__title__2nd::before{
  border-top-color: #4e96b3;
}
.menu__title__3rd{
  background: #c97676;
}
.menu__title__3rd:before{
  border-top-color: #c97676;
}
/*3.html end*/
/*4.html start*/
.calculator__section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
}
fieldset{
  margin: 20px 0 0 0;
}
.text__input{
  padding: 8px 70px;
  box-shadow: inset 0px 0px 10px #030303, inset 0px -20px 1px rgba(150, 150, 150, .2);
  border-radius: 4px;

}
.button{
  padding: 20px;
}
.math__buttons{
  color: white;
  background: black;
  padding: 20px;
  box-shadow: 2px 2px 2px #030303;
}
.clear__button{
  color: white;
  background: red;
}
/*4.html end*/
/*5.html start*/
.page__app__1__4{
display: flex;
flex-direction: column;
width: 100%;
height: 100%;
background: white;
}
.login__app{
  width: auto;
  height: auto;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #e2dede;
  padding-bottom: 1px;
  text-align: center;
}
.login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
  padding: 0 50px 0 50px;
}
.login> a{
  text-decoration: none;
  color: #a6a6a6;
}
.login__input{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  gap: 40px;
}
.login__input input{
  border: none;
  border-bottom: 2px solid #e2dede;
  padding-bottom: 1px;
  border-radius: 2px;
  padding: 10px;
}
.login__input input:focus{
  outline: none;
  border-bottom: 2px solid #3b5998;
}
.login__input__1:focus ~ .login__input__label{
  transform: translateY(-20px);
  transition: all 500ms;
  color: #1363b9;
}
.login__input__2:focus ~ .login__input__label__2{
  transform: translateY(-20px);
  transition: all 500ms;
  color: #1363b9;
}
.login__input__label{
  position: absolute;
  bottom: 90px;
  left: 10px;
  color: #a6a6a6;
}
.login__input__label__2{
  position: absolute;
  bottom:10px;
  left: 10px;
  color: #a6a6a6;
}
.login__button{
  width: 100%;
  height: 50px;
  border: 1px solid #a6a6a6;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
.login__button:hover {
  background-color: #2691d9;
  color: #e9f4fb;
}
.login__label{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #a6a6a6; 
  gap: 10px;
}
.login__label a{
  color: #3b5998;
  text-decoration: none;
}
/*5.html end*/
/*6.html start*/
.register__app{
  width: auto;
  height: auto;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #e2dede;
  padding-bottom: 1px;
  text-align: center;
}
.register{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  margin-top: 10px;
  padding: 0 50px 0 50px;
}
.register__input{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  height: auto;
  box-sizing: border-box;
  gap: 20px;
}
.register__input input{
  border: none;
  border-bottom: 2px solid #e2dede;
  padding-bottom: 1px;
  border-radius: 2px;
  padding: 10px;
}
.register__label__1{
  position: absolute;
  top: 8px;
  left: 10px;
  color: #a6a6a6;
}
.register__label__2{
  position: absolute;
  bottom: 125px;
  left: 10px;
  color: #a6a6a6;
}
.register__label__3{
  position: absolute;
  bottom: 67px;
  left: 10px;
  color: #a6a6a6;
}
.register__label__4{
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #a6a6a6;
}
.register__input input:focus{
  outline: none;
  border-bottom: 2px solid #3b5998;
}
.register__input__1:focus ~ .register__label__1{
  transform: translateY(-20px);
  transition: all 500ms;
  color: #1363b9;
}
.register__input__2:focus ~ .register__label__2{
  transform: translateY(-20px);
  transition: all 500ms;
  color: #1363b9;
}
.register__input__3:focus ~ .register__label__3{
  transform: translateY(-20px);
  transition: all 500ms;
  color: #1363b9;
}
.register__input__4:focus ~ .register__label__4{
  transform: translateY(-20px);
  transition: all 500ms;
  color: #1363b9;
}
.register__button{
  width: 100%;
  height: 50px;
  border: 1px solid #a6a6a6;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
.register__button:hover {
  background-color: #2691d9;
  color: #e9f4fb;
}
.register__label{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #a6a6a6; 
  gap: 10px;
}
.register__label a{
  color: #3b5998;
  text-decoration: none;
}
/*6.html end*/
/*7.html start*/
.page__app__1__5{
  width: auto;
  height: 100%;
  background: #755e88;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.search__input{
  transform: scaleX(0);
}
.search__btn{
  width: 30px;
  height: 30px;
  background: none;
  border: 3px solid black;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.search__btn span {
	display: inline-block;
	overflow: hidden;
}
.search__btn span{
  position: absolute;
  width: 6px;
  height: 20px;
  background: black;
  transform: rotate(132deg);
  top: 18px;
  left: 25px;
  border-radius: 10px;
  cursor: pointer;
}
.search__btn:focus + .search__input{
  transform: scaleX(1);
}
/*7.html end*/
